
.petToAdopt{
    max-width: 400px;
    display: inline-block;
    margin: 50px;
    padding-left: 50px;
    padding-right: 50px;
    border-left: 1px double black;
}

.petToAdopt img{
    width: 200px;
}