
.petToAdopt{
    max-width: 400px;
    display: inline-block;
    margin: 50px;
    padding-left: 50px;
    padding-right: 50px;
    border: 1px double black;
}

.petToAdopt img{
    height: 150px;
    width: 200px;
}