
.container{
    max-width: 900px;
    margin: auto;
}

button{
    width: 100px;
    font-weight: bold;
    font-size: 24px;
    padding: 10px;
    border-radius: 90px;
    margin-bottom: 25px;
    border-color: #272727;
}

button:hover{
    background: linear-gradient(to bottom, #febbbb 0%,#fe9090 45%,#ff5c5c 100%);
}

dt {
    float: left;
    clear: left;
    width: 50px;
    font-weight: bold;
    color: ##272727;
  }
 
  dd {
    margin: 0 0 0 60px;
    padding: 0 0 0.5em 0;
  }